<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<%= link_to "sample app", root_path, id: "logo" %>
<nav>
<ul class="nav navbar-nav navbar-right">
<li>123123123</li>
<li>4545345</li>
<li>7867868678</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
Account <b class="caret"></b>
</a>
<ul class="dropdown-menu">
<li>vvvvv</li>
<li>vvvvvvv</li>
<li class="divider"></li>
</ul>
</li>
<li>90890890890890</li>
</ul>
</nav>
</div>
</header>