<%=form_with(model: @micropost, local: true) do |form|%>
        <%= render 'shared/error_messages', object: form.object %>
        <div class="field">
            <%=form.text_area :content, placeholder: "type something..." %>
        </div>
        <%= form.submit 'Post', class: "btn btn-primary"%>
    <%end%>