<footer class="footer">
<small>
The result of
<a href="https://www.railstutorial.org/">Ruby on Rails</a>
</small>
<nav>
<ul>
<li><%= link_to "About", '#' %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><a href="https://facebook.com/ng.hoangminh1999">Facebook</a></li>
</ul>
</nav>
</footer>
